<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460590190442-1civ7jfg6qt5ob7715elsorp6rq7iu4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460590190442-1civ7jfg6qt5ob7715elsorp6rq7iu4n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>460590190442-jbg78ouneotnvqta3heibki2vvtujvb4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmS5L0B5xOiH0A_VTlraN1jZxJxObH0EM</string>
	<key>GCM_SENDER_ID</key>
	<string>460590190442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arafipro.takeOrdersApp</string>
	<key>PROJECT_ID</key>
	<string>take-orders-app-db4b9</string>
	<key>STORAGE_BUCKET</key>
	<string>take-orders-app-db4b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460590190442:ios:ce5b3830100f5c9ec89f13</string>
</dict>
</plist>